<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://checkstyle.sourceforge.net/dtds/configuration_1_2.dtd">
<module name="Checker">
    <property name="charset" value="UTF-8"/>

    <!-- <property name="severity" value="warning"/> -->

    <module name="Header">
        <property name="header" value="////////////////////////////////////////////////////////////////////\n// [Samuele] [Sartor] [1187588]\n////////////////////////////////////////////////////////////////////" />
    </module>

    <module name="FileTabCharacter">
        <property name="eachLine" value="true"/>
    </module>

    <module name="FileLength"/>

    <module name="TreeWalker">
        <module name="LineLength">
            <property name="max" value="160"/>
        </module>
        <module name="BooleanExpressionComplexity"/>
        <module name="CyclomaticComplexity">
            <property name="max" value="15"/>
        </module>
        <module name="MethodLength"/>
        <module name="AvoidStarImport"/>
        <module name="EmptyCatchBlock">
            <property name="exceptionVariableName" value="expected|ignore"/>
        </module>
        <module name="IllegalImport"/>
        <module name="NeedBraces"/>
    </module>
</module>
